* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Titillium";
  font-weight: 400;
  background-color: #2a2f33;
  color: #f2f5f7;
}

header {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

header h1 {
  font-family: "Titillium";
  font-weight: 700;
  line-height: 250px;
  margin: 0;
  text-transform: uppercase;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 20px;
}

ul:after {
  content: "";
  display: table;
  clear: both;
}

li {
  float: left;
  display: block;
  width: 25%;
  padding: 1%;
}

img {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    /*max-width: 900px;*/
  }
  li {
    width: 33.33%;
  }
}

@media screen and (max-width: 900px) {
  .wrapper {
    /*max-width: 600px;*/
  }
  li {
    width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    /*max-width: 300px;*/
  }
  li {
    width: 100%;
  }
}